Source: node-clone-buffer
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Sruthi Chandran <srud@disroot.org>
Build-Depends: debhelper-compat (= 13)
 , mocha <!nocheck>
 , node-has <!nocheck>
 , node-is-callable <!nocheck>
 , node-isarray <!nocheck>
 , node-object-inspect <!nocheck>
 , node-tmatch <!nocheck>
 , dh-sequence-nodejs
Standards-Version: 4.5.1
Vcs-Browser: https://salsa.debian.org/js-team/node-clone-buffer
Vcs-Git: https://salsa.debian.org/js-team/node-clone-buffer.git
Homepage: https://github.com/gulpjs/clone-buffer
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-clone-buffer
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: Takes a Buffer object and returns a clone
 Node.js is an event-based server-side JavaScript engine.
